@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto Mono', monospace;
}

.body {
  height: 100%;
  width: 100%;
  clip-path: circle(100%);
  opacity: 1;
  transition: clip-path .6s ease-in-out, opacity .5s ease-in-out;
}

.body.collapse {
  clip-path: circle(0%);
  opacity: 0;
}

header {
  width: 100%;
  height: 8%;
  background-color: rgb(32, 32, 32);
  display: flex;
  align-items: center;
  color: rgb(236, 236, 236);
}

nav {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo {
  justify-self: start;
  margin-left: 40px;
  height: 20px;
  width: 10px;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

nav > ul > li > a {
  text-decoration: none;
  color: rgb(236, 236, 236);
}

.hero {
  height: 60%;
  width: 100%;
  background: linear-gradient(to right, #007991, #78ffd6);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.heroMessage {
  justify-self: center;
  color: white;
  font-size: 42px;
}

.about {
  height: 200%;
}

section {
  padding: 40px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

section h1 {
  text-align: center;
}






.matrixContainer {
  position: absolute;
  top: 0;
  left: 0;
  /* display: none; */
  z-index: -1;
  padding: 70px;
  height: 100%;
  width: 100%;
  background-color: black;
  color: rgb(119, 250, 147);
  font-family: Courier;
  font-weight: bold;
  font-size: 16px;
  word-spacing: 5px;
}