@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  scroll-behavior: smooth;
}

.body {
  height: 100%;
  width: 100%;
  clip-path: circle(300%);
  opacity: 1;
  transition: clip-path .6s ease-in-out, opacity .5s ease-in-out;
}

.body.collapse {
  clip-path: circle(0%);
  opacity: 0;
}

header {
  width: 100%;
  height: 80px;
  background-color: rgb(32, 32, 32);
  display: flex;
  align-items: center;
  color: rgb(236, 236, 236);
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  justify-self: start;
  margin-left: 40px;
  height: 20px;
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  transition: transform .5s ease-in-out;
}

nav > ul > li > a {
  text-decoration: none;
  color: rgb(236, 236, 236);
}

#hamburger {
  display: none;
  /* height: 40px; */
  width: 40px;
  fill: white;
  margin-right: 20px;
  cursor: pointer;
  transition: fill .3s ease;
}

#hamburger:hover {
  fill:rgb(119, 250, 147);
}

.hero {
  height: 70%;
  width: 100%;
  background: linear-gradient(to right, #007991, #78ffd6);
  justify-content: center;
  align-items: center;
  background-image: url("./pexels-burst-373965.jpg");
  background-size: cover;
  /* creates parallax effect */
  background-attachment: fixed;
  background-position: 50% 20%;
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  /* grid-template-rows: repeat(8, 1fr); */
  overflow: hidden;
  z-index: 5;
}

.heroGrid {
  height: 100%;
  width: 100%;
  background-color: rgb(58, 175, 84);
  z-index: 7;
}

.heroMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: Black;
  font-size: 42px;
  z-index: 9999;
  width: 100%;
  text-align: center;
}

.about {
  height: 50vh;
  background-color:rgb(15, 15, 15);
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 70px;
  flex-direction: column;
}

.info {
  width: 40%;
} 

section {
  width: 100%;
}

section h1 {
  text-align: center;
  margin-bottom: 20px;
}






.matrixContainer {
  position: absolute;
  top: 0;
  left: 0;
  /* display: none; */
  z-index: -1;
  padding: 50px;
  height: 100%;
  width: 100%;
  background-color: black;
  color: rgb(119, 250, 147);
  font-family: Courier;
  font-weight: bold;
  font-size: 16px;
  word-spacing: 5px;
  font-size: 20px;
}

.text {
  font-size: 20px;
  white-space: pre-line;
}

.userInputMatrix {
  /* will be display flex in javascript */
  display: none; 
  margin-top: 10px;
  font-size: 20px;
}

.instructions {
  display: none;
}

.matrixInput {
  outline: none;
  border: none;
  margin-left: 10px;
  font-size: 20px;
  background-color: black;
  color: rgb(119, 250, 147);
  caret-color: transparent;
}

.blinkingCursor {
  background-color: rgb(119, 250, 147);
  width: 10px;
  height: 20px;
  animation: blink 1500ms infinite step-end;
  /* margin-left: 10px; */

}

.slider {
  width: 75px;
  height: 20px;
  background-color:rgb(0, 222, 252);
  /* background-color:rgb(241, 33, 61); */
  box-shadow: 1px 1px 2px rgb(255, 255, 255);
  /* pill */
  border-radius: 9999px; 
  position: relative;
  transition: background-color .4s ease;
}

.button {
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 1;
  background-color: white;
  transition: transform .3s ease;
}

#clearChoice {
  padding: 5px;
  margin-top: -3px;
}


@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}


@media only screen and (max-width: 1024px) {
  .nav-list {
    position: fixed;
    top: 80px;
    left: -100%;
    z-index: 9999;
    width: 50%;
    height: 92vh;
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  header {
    position: fixed;
  }


  .hero {
    /* display:none; */
    z-index: -1;
  }
  #hamburger {
    display: block;
  }
}